#app {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  background-image: linear-gradient(to bottom, #fcc982, #f9d493, #f7dea5, #f6e7b8, #f7f0cc, #ecf0cf,
  #e1f0d3,#d9efd8, #bce6d6, #a0dcda, #8cd0e0, #85c1e4);
}
